[Unit]
Description=BandBox Recording Uploader
After=multi-user.target pisugar-server.service
Wants=pisugar-server.service

[Service]
Type=simple
ExecStart=/home/bandbox/bandbox/pi/.venv/bin/python /home/bandbox/bandbox/pi/bandbox.py
WorkingDirectory=/home/bandbox/bandbox/pi
User=bandbox
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/home/bandbox/.bandbox/env

[Install]
WantedBy=multi-user.target
